<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8" />
    <title>Alex Veltman</title>
    <meta name="description" content="Alex Veltman is a student studying Physics at the University of Cape Town (UCT). Click to read the blog and see the resume." />
    <meta name="author" content="Alex Veltman" />

    <!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital@0;1&display=swap" rel="stylesheet">

    <!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="static/css/normalize.css" />
    <link rel="stylesheet" href="static/css/skeleton.css" />
    <link rel="stylesheet" href="static/css/font-awesome.css" />

    <!-- Favicon
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="static/site.webmanifest">

    <!--MATHJAX-->
    <script
      type="text/javascript"
      async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"
    ></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        config: ["MMLorHTML.js"],
        jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"]
      });
    </script>
  </head>
  <body>
    {% include "navbar" %}
    {% block content %}
    {% endblock content %}
    {% include "footer" %}
  </body>
</html>
