{% extends "base" %} {% block content %}
<div class="section content" style="margin-top: 10%;">
  <div class="container">
    <h1>About Me</h1>
    <div class="row">
        <div class="one-third column">
            <img src="static/portrait-min.jpg" alt="Alex Veltman Portrait">
        </div>
        <div class="two-thirds column" style="font-size: 20px">
            {{ content | safe }}
        </div>
    </div>
  </div>
</div>
{% endblock content %}
