{% extends "base" %}
{% block content %}
<div class="section content" style="margin-top: 5%;">
    <div class="container resume">
        {{ resume_text | safe }}
    </div>
</div>
{% endblock content %}
